.teste{
    background-color: blue; 
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
}

.parceiro{
    background-color: bisque;
    padding-top: 10px;
    padding-bottom: 10px;    
}
.serviços{
    background-color: coral;
    padding-top: 10px;
    padding-bottom: 10px;
}
